// imports
@import 'reset.css';
@import 'grid.less';
@total-width: 100%;

// variables, mixins
.cf() {&:after{display: block; content: ""; clear: both;}}
.radius(@r: 5px) {
	border-radius: @r;
}
@blue: #41aad3;
@darkblue: #3a94b5;
@green: #97d036;
@tan: #dfb783;

/**********************
  type
**********************/
h1,h2,h3 {
	font-family: patua-one, serif;
}
h2, h3, h4 {
	margin-top: 0.5em;
}
h1 {
	font-size: 2.2em;
	margin-bottom: 0.3em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.2em;
	margin-top: 0.5em;
}
h3 {
	font-size: 1.6em;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}
body {
	-webkit-font-smoothing: antialiased;
	color: #333;
	font-family: actor, sans-serif;
}
b, strong {
	font-weight: 700;
}
section#content {
	ul, ol {
		margin-left: 2em;
	}
	ul {
		li {
			list-style-type: disc;
		}
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
	ul, ol, p {
		line-height: 1.5em;
		margin-bottom: 0.4em;
	}
	blockquote {
		margin: 0.5em 0 0.5em 2em;
		color: #666;
	}
	code {
		line-height: 1.3em;
		font-family: consolas, courier, monospace;
		font-size: 0.8em;
		color: #666;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	a {
		color: @blue;
		&:hover {
			color: @green;
		}
	}
}
/**********************
  containers
**********************/
.container {
	max-width: 960px;
	margin: 0 auto;
	.cf();
}
header#cc-header {
	background: @blue;
	padding: 0.8em 0;
	border-bottom: 5px solid @darkblue;
	margin-bottom: 1em;
	.cf();
	h1 {
		.column(12);
		color: #fff;
		text-shadow: 2px 2px rgba(0,0,0,0.2);
		font-size: 2.5em;
	}
}
section#content {
	.column(7.5);
}
aside#sidebar {
	background: @tan;
	.radius();
	.column(4);
	.push(0.5);
}
footer#footer {
	background: @blue;
	clear: both;
	text-align: center;
	padding: 0.5em 0;
	color: #fff;
	margin-top: 1em;
	border-top: 3px solid @darkblue;
}
/**********************
  forms
**********************/
// do this
button, a.button, input[type=submit] {
	background: @green;
	line-height: 2em;
	padding: 0 2em;
	font-size: 1.3em;
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
	border: 0;
	font-family: patua-one, serif;
	.radius();
	-webkit-font-smoothing: antialiased;
	&:hover {
		background: @darkblue;
	}
}

/**********************
  responsive (mobile)
**********************/
@media screen and (max-width: 719px) {
	header#cc-header {
		h1 {
			.column(11);
			.push(0.5);
		}
	}
	section#content {
		.column(11);
		.push(0.5);
		h1 {
			font-size: 1.9em;
		}
		h2 {
			font-size: 1.6em;
		}
		h3 {
			font-size: 1.4em;
		}
		p {
			font-size: 0.95em;
		}
	}
	aside#sidebar {
		.column(11);
		.push(0.5);
		margin-top: 1em;
	}
}