@import 'reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/**********************
  type
**********************/
h1,
h2,
h3 {
  font-family: georgia, serif;
}
body {
  font-family: verdana, sans-serif;
  font-size: 0.9em;
}
/**********************
  containers
**********************/
.container {
  width: 960px;
}
