@import 'reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/**********************
  type
**********************/
h1,
h2,
h3,
h4 {
  clear: both;
}
h1,
h2,
h3 {
  font-family: patua-one, serif;
}
h2,
h3,
h4 {
  margin-top: 0.5em;
}
h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.7em;
  margin-bottom: 0.4em;
  margin-top: 0.5em;
}
h3 {
  font-size: 1.4em;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}
body {
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: actor, sans-serif;
}
b,
strong {
  font-weight: 700;
}
section.content ul,
section.content ol {
  margin-left: 2em;
}
section.content ul li {
  list-style-type: disc;
}
section.content ol li {
  list-style-type: decimal;
}
section.content ul,
section.content ol,
section.content p {
  line-height: 1.7em;
  margin-bottom: 0.5em;
}
section.content blockquote {
  margin: 0.5em 0 0.5em 2em;
  color: #666;
}
section.content code {
  line-height: 1.3em;
  font-family: consolas, courier, monospace;
  font-size: 0.8em;
  color: #666;
  -webkit-font-smoothing: subpixel-antialiased;
}
section.content a {
  color: #41aad3;
}
section.content a:hover {
  color: #97d036;
}
/**********************
  ligature symbols
  kudakurage.com/ligature_symbols
**********************/
@font-face {
  font-family: 'LigatureSymbols';
  src: url('symbols/LigatureSymbols-2.09.eot');
  src: url('symbols/LigatureSymbols-2.09.eot?#iefix') format('embedded-opentype'), url('symbols/LigatureSymbols-2.09.woff') format('woff'), url('symbols/LigatureSymbols-2.09.ttf') format('truetype'), url('symbols/LigatureSymbols-2.09.svg#LigatureSymbols') format('svg');
  src: url('symbols/LigatureSymbols-2.09.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.lsf,
.lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
.lsf-icon:before {
  content: attr(title);
  margin-right: 0.4em;
  font-size: 120%;
}
/**********************
  containers
**********************/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.container:after {
  display: block;
  content: "";
  clear: both;
}
.container img {
  max-width: 100%;
}
header#cc-header {
  background: #41aad3;
  padding: 0.8em 0;
  border-bottom: 5px solid #3a94b5;
  margin-bottom: 1.5em;
}
header#cc-header:after {
  display: block;
  content: "";
  clear: both;
}
header#cc-header h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  color: #fff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 2.5em;
}
#messages {
  margin-bottom: 1em;
}
#messages:after {
  display: block;
  content: "";
  clear: both;
}
#messages div {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding: 1em 0;
  margin-bottom: 0.5em;
}
#messages div i {
  display: inline;
  float: left;
  width: 4.166666666666666%;
  margin: 0 1.0416666666666665%;
  margin-left: 3.1249999999999996%;
  font-size: 1.4em;
}
#messages div p {
  display: inline;
  float: left;
  width: 87.5%;
  margin: 0 1.0416666666666665%;
  font-size: 0.9em;
}
#messages .warning {
  background: #FFFCE5;
  border: 1px solid #ED5;
  color: #705F48;
}
#messages .warning i {
  color: #dfb783;
}
#messages .error {
  background: #FEF5F1;
  border: 1px solid #b22222;
  color: #b22222;
}
#messages .error i {
  color: #b22222;
}
#messages .status {
  background: #F8FFF0;
  border: 1px solid #BE7;
  color: #5c9e00;
}
#messages .status i {
  color: #5c9e00;
}
section#main-content {
  display: inline;
  float: left;
  width: 60.416666666666664%;
  margin: 0 1.0416666666666665%;
}
section#main-content span.img-caption {
  font-size: 0.9em;
  margin: 0.4em 0 1.2em 0;
  display: block;
  clear: both;
}
aside#sidebar {
  background: #ffe6c5;
  padding: 0.5em 0;
  border-radius: 5px;
  display: inline;
  float: left;
  width: 32.916666666666664%;
  margin: 0 1.0416666666666665%;
  margin-left: 3.5416666666666665%;
}
aside#sidebar:after {
  display: block;
  content: "";
  clear: both;
}
aside#sidebar section.content {
  display: inline;
  float: left;
  width: 89.58333333333334%;
  margin: 0 1.0416666666666665%;
  margin-left: 5.208333333333332%;
}
aside#sidebar h3 {
  padding: 0.5em 0 0.3em 0;
}
aside#sidebar .goal {
  text-align: center;
}
aside#sidebar .goal p {
  line-height: 1.3em;
}
aside#sidebar .goal p.number {
  font-size: 2em;
  margin-bottom: 0.3em;
}
aside#sidebar p.result {
  font-size: 0.8em;
  clear: both;
  margin-bottom: 0.6em;
}
footer#footer {
  background: #41aad3;
  clear: both;
  text-align: center;
  padding: 0.5em 0;
  color: #fff;
  margin-top: 2em;
  border-top: 3px solid #3a94b5;
}
#breadcrumb {
  font-size: 0.9em;
  margin: 0 0 1.5em 0;
}
#breadcrumb .breadcrumb a {
  text-decoration: none;
}
/**********************
  forms
**********************/
fieldset select,
fieldset label,
fieldset input {
  line-height: 1.5em;
  padding: 0.15em 0;
}
fieldset label {
  font-weight: 700;
  font-size: 0.8em;
}
fieldset label span {
  color: red;
}
fieldset input,
fieldset textarea,
fieldset select {
  border: 1px solid #dfb783;
  font-family: verdana, sans-serif;
  font-size: 0.7em;
  border-radius: 3px;
}
fieldset input:focus,
fieldset textarea:focus,
fieldset select:focus {
  outline: none;
  box-shadow: 0 0 8px #dfb783;
}
fieldset input {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
fieldset textarea {
  padding: 0.5em;
}
fieldset select {
  border: 1px solid #dfb783;
}
button,
a.button,
input[type=submit] {
  background: #97d036;
  padding: 0.2em 0;
  font-size: 1.3em;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border: 0;
  font-family: patua-one, serif;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
}
button:hover,
a.button:hover,
input[type=submit]:hover {
  background: #3a94b5;
}
form#action fieldset {
  margin: 1em 0 0.6em 0;
}
form#action fieldset label,
form#action fieldset input {
  display: block;
  float: left;
}
form#action fieldset label {
  width: 32%;
  clear: both;
}
form#action fieldset label.subject {
  margin-top: 1em;
}
form#action fieldset input,
form#action fieldset select {
  width: 68%;
  margin-bottom: 0.8em;
}
form#action fieldset input.subject,
form#action fieldset select.subject {
  width: 100%;
  clear: both;
}
form#action fieldset input[type=checkbox] {
  width: 10%;
  margin-top: 0.6em;
}
form#action fieldset input[type=submit] {
  clear: both;
  margin-top: 1em;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
form#action fieldset textarea {
  width: 100%;
  resize: vertical;
  clear: both;
  margin-bottom: 1em;
}
/**********************
  responsive (mobile)
**********************/
@media screen and (max-width: 719px) {
  header#cc-header h1 {
    display: inline;
    float: left;
    width: 89.58333333333334%;
    margin: 0 1.0416666666666665%;
    margin-left: 5.208333333333332%;
  }
  #messages:after {
    display: block;
    content: "";
    clear: both;
  }
  #messages div {
    display: inline;
    float: left;
    width: 89.58333333333334%;
    margin: 0 1.0416666666666665%;
    margin-left: 5.208333333333332%;
    margin-bottom: 0.5em;
  }
  #messages div i {
    display: inline;
    float: left;
    width: 8.333333333333332%;
    margin: 0 1.0416666666666665%;
    margin-left: 5.208333333333332%;
    font-size: 1.4em;
  }
  #messages div p {
    display: inline;
    float: left;
    width: 79.16666666666666%;
    margin: 0 1.0416666666666665%;
  }
  section#main-content {
    display: inline;
    float: left;
    width: 89.58333333333334%;
    margin: 0 1.0416666666666665%;
    margin-left: 5.208333333333332%;
  }
  section.content h1 {
    font-size: 1.9em;
  }
  section.content h2 {
    font-size: 1.6em;
  }
  section.content h3 {
    font-size: 1.3em;
  }
  section.content p {
    font-size: 0.95em;
  }
  aside#sidebar {
    display: inline;
    float: left;
    width: 89.58333333333334%;
    margin: 0 1.0416666666666665%;
    margin-left: 5.208333333333332%;
    margin-top: 1em;
  }
  fieldset select,
  fieldset label,
  fieldset input,
  fieldset textarea {
    font-size: 0.9em;
  }
  form#action fieldset label,
  form#action fieldset input,
  form#action fieldset select {
    width: 100%;
  }
  form#action fieldset label.checkbox {
    width: 50%;
  }
}
/**********************
  responsive (desktop tweaks)
**********************/
@media screen and (min-width: 720px) {
  
}
